.backGround{
    background-image: url("MW2\ wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 100%;
    padding-top: -30px;
}

.greenFont{
    color: #8fc03f;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loadouts{
    /* display: block; */
    background-color: rgba(143, 192, 63, 0.5); /* Adjust the alpha value (0.5 in this example) for transparency */
    color:#8fc03f;
    align-items: center;
    justify-content: center;
    margin: 5%

}

.navbar{
    color:#8fc03f;
    padding-top: 0px;
    margin-top: 0px;
}

.title {
    margin-top: 0px;
}

.linkButton{
    color: #8fc03f;
    background-color: black;
    text-decoration: none;

}

.validations{
    color: red;
    font-weight: bold;
}

.createForm{
    /* margin: 5% 10% 10% 40%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formDiv{ 
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 5px;
}

.formInputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    color: #8fc03f;
}