.backGround{
    background-image: url("MW2\ wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: max-content;
    height: 100vh;
}

.greenFont{
    color: #8fc03f;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loadouts{
    /* display: block; */
    background-color: rgba(19, 31, 1, 0.5); /* Adjust the alpha value (0.5 in this example) for transparency */
    color:#8fc03f;
    align-items: center;
    justify-content: center;
    margin: 5%

}

.navbar{
    color:#8fc03f;
    padding-top: 0px;
    margin-top: 0px;
}

.title {
    margin-top: 0px;
}

.linkButton{
    color: #8fc03f;
    height: 25px;
    /* width: 17%;   work on this */
    background-color: black;
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: inherit;
    border-radius: 25%;
}

.validations{
    color: red;
    font-weight: bold;
}

.createForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.formDiv{ 
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.formInputs{
    width: 45%;
    color: #8fc03f;
}

.twoColumnForm {
    display: flex;
    justify-content: space-between; /* This will create two columns */
    flex-wrap: wrap; /* Allows the columns to wrap on smaller screens */
}

.modalBackGround{
    /* border: solid #8fc03f 2px; */
    position: fixed;
    background-color: rgba(200, 200, 200, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    bottom: 0px;
    top: 0px;
}

.modalContainer{
    border: #8fc03f solid 2px;
    background-color: #8fc03fd8;
    padding: 10% 5% 10% 5%;
    border-radius: 50%;
}

.modalLabel{
    color: black;
    font-weight: bolder;
    font-size: large;

}